@import url('https://fonts.googleapis.com/css2?family=Coiny&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Coiny&display=swap');

.factsContainer {
  background-color: #3e3b3a;
  height: 100vh;
  padding: 0 32px;
}

.factsHeader {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}

.factsHeaderLeftContent {
  display: flex;
  align-items: center;
}

.form-container{
  background-color: #9f9d9d;
  /* height: 80px; */
  width: 100%;
  border-radius: 8px;
  margin-bottom: 24px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 24px;
}
.input[type='text']{
  border-radius:  8px;
}